body{
    padding: 0vh;
    margin: 0vh;
    background-color: hsla(0, 0%, 50%, 0.314);
    }
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0vh;
        margin: 0vh;
        color: white;
        height: 300px;
        position: relative;
        bottom: 120px;
        
    }
    .header1{
        background-color:rgba(26, 26, 196, 0.818);
        height: 15vh;
    }
    .links{
        display: flex;
        justify-content: center;
        list-style: none;
        font-size:20px;
        padding: 0px;
        margin: 0px;
        position: relative;
        bottom: 256px;
    }
    .links li {
        margin-left: 20px;
        padding: 5px 2px;
        display: flex; 
    }
    .links a{
        text-decoration: none;
        display: flex;
        font-size:18px;
        color: white;

    }
    .links a:hover{
        color: rgb(220, 10, 104);
        transition: all .3s;
        cursor: pointer;
        text-shadow:rgb(220, 10, 104) ;
    }
  .section1{
    background-color: rgba(128, 128, 128, 0.308);
    height:300px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
   
  }
  .section1 h2{
    font-size:38px;
    color:white;
    position: relative;
    bottom:48px;
  }
  .section1 p{
    color: white;
    position: relative;
    bottom: 67px;
    font-size: 17px;
  }
  .section1 a{
    text-decoration: none;
        display: flex;
        font-size:15px;
        color: white;
  }
  .section1 button{
    background-color:rgb(220, 10, 104) ;
    border: 0px;
    padding: 10px 18px;
    margin: 0px;
    position: relative;
    bottom:35px;
    box-shadow: black 1px 1px  2px;
  }
  #page2{
    height: 120vh;
  }
  #page2 h2{
    justify-content: center;
    text-align: center;
    position: relative;
    top: 48px;
  }
  #Service h2{
    justify-content: center;
    text-align: center;
    position: relative;
    top: 48px;
  } 
  #page2 p{
    color: rgb(0, 0, 0);
  }
  .text1{
    padding: 0px;
    margin: 0px;
    
    justify-content: center;
    text-align: center;
    align-items: center;
  }
 .text1 h2{
    padding: 0px 0px 30px 0px;
 }
 .text1 p{
    position: relative;
    top: 11px;

 }
 .boxes{
    display: flex;
    padding: 15px 0px;
    
 }
 .box1{
    height:  258px;
    width:397px ;
    position: relative;
    left: 15px;
    background-color: rgb(245, 245, 245);
    box-shadow: rgba(0, 0, 0, 0.588) 1px 1px  10px -3px;
    border-radius: 20px;
 }
 .square {
    width:150px;
    height: 150px; 
    background-color: rgba(128, 128, 128, 0.789); 
    border: 0px;
    position:relative;
    top: 28px;
    left:116.5px;
 }
 .box1 h3{
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    top: 22px;
 }
 .box1 p{
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    top: 10px;
 }
 .box1:hover{
    transform:translateY(-10px);
 }
 .box2{
    height:  258px;
    width:397px ;
    position: relative;
    left: 40px;
    background-color: rgb(245, 245, 245);
    box-shadow: rgba(0, 0, 0, 0.588) 1px 1px  10px -3px;
    border-radius: 20px;
 }
 .square {
    width:150px;
    height: 150px; 
    background-color: rgba(128, 128, 128, 0.789); 
    border: 0px;
    position:relative;
    top: 28px;
    left:116.5px;
 }
 .box2 h3{
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    top: 22px;
 }
 .box2 p{
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    top: 10px;
 }
 .box2:hover{
    transform:translateY(-10px);
 }
 .box3{
    height:  258px;
    width:397px ;
    position: relative;
    left: 65px;
    background-color: rgb(245, 245, 245);
    box-shadow: rgba(0, 0, 0, 0.588) 1px 1px  10px -3px;
    border-radius: 20px;
   
 }
 .square {
    width:150px;
    height: 150px; 
    background-color: rgba(128, 128, 128, 0.789); 
    border: 0px;
    position:relative;
    top: 28px;
    left:116.5px;
 }
 .box3 h3{
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    top: 22px;
 }
 .box3 p{
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    top: 10px;
 }
 .box3:hover{
    transform:translateY(-10px);
 }
 .page2 h2{
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    top: 45px;

 }
 .boxes3{
    display: flex;
    padding: 60px 0px;
 }
 .boxe4{
    height:100px;
    width:397px;
    background-color: white;
    border-radius:20px ;
    position: relative;
    left: 15px;
    box-shadow: rgba(0, 0, 0, 0.588) 1px 1px  10px -3px;
 }
.boxe4 h3{
    font-weight: bold;
    justify-content: center;
    text-align: center;
    padding: 25px 10px 0px 10px;
    margin: 0px;
}
.boxe4 p{
    padding: 0px 20px;
font-size:  18px;
margin: 0px;
}
.boxe4:hover{
    transform:translateY(-10px);
 }
.boxe5{
    height:100px;
    width:397px;
    background-color: white;
    border-radius:20px ;
    position: relative;
    left: 40px;
    box-shadow: rgba(0, 0, 0, 0.588) 1px 1px  10px -3px;
 }
.boxe5 h3{
    font-weight: bold;
    justify-content: center;
    text-align: center;
    padding: 25px 10px 0px 10px;
    margin: 0px;
}
.boxe5 p{
    padding: 0px 20px;
font-size:  18px;
margin: 0px;
}
.boxe5:hover{
    transform:translateY(-10px);
 }
.boxe6{
    height:100px;
    width:397px;
    background-color: white;
    border-radius:20px ;
    position: relative;
    left: 65px;
    box-shadow: rgba(0, 0, 0, 0.588) 1px 1px  10px -3px;
 }
.boxe6 h3{
    font-weight: bold;
    justify-content: center;
    text-align: center;
    padding: 25px 10px 0px 10px;
    margin: 0px;
}
.boxe6 p{
    padding: 0px 20px;
font-size:  18px;
margin: 0px;
}
.boxe6:hover{
    transform:translateY(-10px);
 }
  #Meet{
    height: 90vh;
  
  }
  #Meet h2{
    justify-content: center;
    text-align: center;
    
  }
  .boxes2{
    display: flex;
    padding: 15px 0px;
    
 }
 .box7{
    height:  258px;
    width:397px ;
    position: relative;
    left: 15px;
    background-color: rgb(245, 245, 245);
    box-shadow: rgba(0, 0, 0, 0.588) 1px 1px  10px -3px;
    border-radius: 20px;
 }
 .square {
    width:150px;
    height: 150px; 
    background-color: rgba(128, 128, 128, 0.789); 
    border: 0px;
    position:relative;
    top: 28px;
    left:116.5px;
 }
 .box7 h3{
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    top: 22px;
 }
 .box7 p{
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    top: 10px;
 }
 .box7:hover{
    transform:translateY(-10px);
 }
 .box8{
    height:  258px;
    width:397px ;
    position: relative;
    left: 40px;
    background-color: rgb(245, 245, 245);
    box-shadow: rgba(0, 0, 0, 0.588) 1px 1px  10px -3px;
    border-radius: 20px;
    
 }
 .square {
    width:150px;
    height: 150px; 
    background-color: rgba(128, 128, 128, 0.789); 
    border: 0px;
    position:relative;
    top: 28px;
    left:116.5px;
 }
 .box8 h3{
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    top: 22px;
 }
 .box8 p{
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    top: 10px;
 }
 .box8:hover{
    transform:translateY(-10px);
 }
 .box9{
    height:  258px;
    width:397px ;
    position: relative;
    left: 65px;
    background-color: rgb(245, 245, 245);
    box-shadow: rgba(0, 0, 0, 0.588) 1px 1px  10px -3px;
    border-radius: 20px;
   
 }
 .square {
    width:150px;
    height: 150px; 
    background-color: rgba(128, 128, 128, 0.789); 
    border: 0px;
    position:relative;
    top: 28px;
    left:116.5px;
 }
 .box9 h3{
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    top: 22px;
 }
 .box9 p{
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    top: 10px;
 }
 .box9:hover{
    transform:translateY(-10px);
 }
 #page4{
    height: 135vh;
 }
 
 #page4 h2{
    justify-content: center;
    text-align: center;
    position: relative;
    bottom: 100px;
    padding: 0px;
    margin: 0px;
    font-size: 28px;
 }
.boxes4{
    display: flex;
   position: relative;
  bottom: 60px;
}
.box10{
    height:  400px;
    width:600px ;
    position: relative;
    left: 15px;
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
}
.box10 h3{
display: flex;
justify-content: center;
position: relative;
top: 166px;
color:rgb(245, 245, 245);
}
.box10:hover{
    background-color:rgba(128, 128, 128, 0.278);
    transition: all .1s;
    cursor: pointer;
    color: aliceblue;
    font-size: 24px;
}
.box11{
    height:  400px;
    width:600px ;
    position: relative;
    left: 40px;
    background-color: rgb(245, 245, 245);
    border-radius: 20px;

}
.box11 h3{
    display: flex;
    justify-content: center;
    position: relative;
    top: 166px;
    font-size: 25px;
    color:rgb(245, 245, 245);
    }
 .box11:hover{
        background-color:rgba(128, 128, 128, 0.278);
        transition: all .1s;
        cursor: pointer;
        color: aliceblue;
}
.boxes5{
    display: flex;
   position: relative;
  bottom: 60px;
}
.box12{
    height:  400px;
    width:600px ;
    position: relative;
    left: 15px;
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
}
.box12 h3{
display: flex;
justify-content: center;
position: relative;
top: 166px;
color:rgb(245, 245, 245);
}
.box12:hover{
    background-color:rgba(128, 128, 128, 0.278);
    transition: all .1s;
    cursor: pointer;
    color: aliceblue;
    font-size: 24px;
}
.box13{
    height:  400px;
    width:600px ;
    position: relative;
    left: 40px;
    background-color: rgb(245, 245, 245);
    border-radius: 20px;

}
.box13 h3{
    display: flex;
    justify-content: center;
    position: relative;
    top: 166px;
    font-size: 25px;
    color:rgb(245, 245, 245);
    }
 .box13:hover{
        background-color:rgba(128, 128, 128, 0.278);
        transition: all .1s;
        cursor: pointer;
        color: aliceblue;
}
#page5{
    height: 80vh;
    background-color:rgba(26, 26, 196, 0.818);

}
#page5 h2{
    justify-content: center;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 28px;
    padding: 50px 0px 0px 0px;
}
#page5 p{
    justify-content: center;
    text-align: center;
   color: white;
   padding: 0px 0px 0px 0px;
   position: relative;
   bottom: 20px;
}
#page5 input[type="email"]{
    padding: 10px;
    font-size: 16px;
    border: 0px;
    border-radius: 5px;
    width: 620px;
    height:20px;
    position: relative;
    left: 320px;
    bottom: 0px;
    margin-right: 0px;
}
#page5 input[type="text"]{
    padding: 10px;
    font-size: 16px;
    border: 0px;
    border-radius: 5px;
    width: 620px;
    height:20px;
    position: relative;
    left: 320px;
    bottom: 20px;
    margin-right: 0px;
    
}
#page5 textarea[type="maessage"]{
    padding: 10px ;
    font-size: 16px;
    border: 0px;
    border-radius: 5px;
    width: 620px;
    height:33px;
    position: relative;
    left: 230px;
    top: 30px;
    margin-right: 0px;

}
#page5 button{
    padding: 10px 30px 10px 30px ;
    outline: none;
    border: none;
    background-color:rgb(220, 10, 104);
    color: white;
    position: relative;
    top: 55px;
    left: 233px;
}